body {
    font-family: "ABC Diatype Mono", monospace;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-brand {
    font-size: 1.5rem;
}

a {
    color: inherit; /* Menggunakan warna default dari induknya */
    text-decoration: none; /* Menghapus garis bawah tautan */
}

a:hover {
    color: inherit; /* Warna saat dihover sama dengan warna default */
}

.card {
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid transparent;
    cursor: pointer;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

.dark-mode .card {
    background-color: #333333;
}

#themeIcon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
}

.rotate-icon {
    transform: rotate(180deg);
}

/* CSS untuk garis vertikal pink */
.vertical-line {
    position: relative;
    padding-left: 20px; /* Memberi ruang untuk garis vertikal */
    margin-left: 20px;
}

.vertical-line::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #ff4081; /* Warna pink */
}
.image-profile {
    width: 150px; /* Sesuaikan ukuran gambar bulat sesuai kebutuhan Anda */
    height: 150px;
    border-radius: 50%; /* Membuat gambar menjadi bulat */
    overflow: hidden; /* Menghilangkan bagian gambar yang tidak muat dalam lingkaran */
    margin: 0 auto 20px; /* Menengahkan gambar dan menambahkan jarak 20px di bagian bawah */
    display: block; /* Agar margin auto berfungsi, gambar perlu menjadi elemen blok */
}

/* Contoh styling untuk gambar */
.image-profile img {
    width: 100%; /* Agar gambar sesuai dengan lingkaran */
    height: auto; /* Agar gambar tidak terdistorsi */
}
